.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

a {
  text-decoration: none;
  color: var(--text-default);
}

a:hover {
  color: var(--text-muted);
  text-decoration: underline;
}

.footer a svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--primary);
}
